.defaultdiv {
  width: 100%;
  height: 100vh;
  background-color: #3C3D37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terminal {
  min-width: 25%;
  width: 30%;
  height: 30%;
  min-height: 25%;
  background-color: black;
}

.terminalheader {
  min-width: 25%;
  width: 30%;
  height: 3%;
  background-color: #e8e8e8;
  display: flex;
  border-radius: 10px 10px 0 0;
}

.bashtrafficlight {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.trafficlightred {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: red;
  border-radius: 50%;
  box-sizing: border-box;
}

.trafficlightorange {
  width: 20px;
  margin: 5px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  box-sizing: border-box;
}

.trafficlightgreen {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: green;
  border-radius: 50%;
  box-sizing: border-box;
}

.bashheader {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20%;
}

.bashtext {
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
  font-size: 14px;
  color: black;
  margin: 0;
  margin-left: 10px;
}

.terminaldate {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 3s ease-out 2.5s both;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

.terminaltextcoder
{
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 3s ease-out 3.5s both;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

.terminaltextcdir
{
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 3s ease-out 4.5s both;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

.terminaltextnpm
{
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 3s ease-out 6s both;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

.terminaltextrouting1 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 2s ease-out 7.5s both;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

.terminaltextrouting2 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 2s ease-out 8.5s both;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

.terminaltextrouting3 {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 3s ease-out 9.5s both, 0s 12.5s forwards;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}

.link
{
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  animation: typing 3s ease-out 9.5s both, post-animation 0s 12.5s forwards;
  color: green;
  width: 0;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}

@keyframes post-animation {
  0% {
    color: green;
  }
  100% {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
}

.link span {
  animation: letter-color 1s forwards;
  display: inline-block;
}

@keyframes letter-color {
  from {
    color: green;
  }
  to {
    color: white;
  }
}